 <html >
  <head>
    <meta charset="utf-8">
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../styles/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="./styles/ajax_request.js"></script>
  <title></title>
  </head>
  <body>
      <div  class="container">

        <h1>Todo List... <i class="fa fa-pencil"></i></h1> 
  <!--do not add method="Post" else there would be data duplication-->
 <form>

<input type="text"  name="item"
placeholder="write something....." required/>
<button type="submit"> <i class="fa fa-plus"></i></button>
</form>


<% for(var i=0; i< data.length; i++){ %>

<%  if(data[i].done === false) { %>
<div class="item" id="item"><i class="fa fa-times"></i><p><%=data[i].item%></p></div>
 <% }else{%>

<div class="item" id="item" ><i class="fa fa-times"></i><p style='text-decoration: line-through; color:gray;'><%=data[i].item%></p></div>

   <% } %>
 <%}%>


</div>


</body>
</html>
