body{

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,61,99,1)), color-stop(100%, rgba(0,201,201,1))); /* safari4+,chrome */
 background-repeat: no-repeat;
 background-size: cover;
  text-align: center;

}
h1{
color:  #bfbfbf;
font-size: 40px;
letter-spacing: 2px;
font-weight:bolder;
}


.container{
  position: absolute;
   display:flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  left: 50%;
  background-color:#0d0d0d;
   /*background-color: #7d9791;
    background-color:rgba(124, 150, 146, 0.9);*/
  width: 50%;
transform: translate(-50%, 20%);
padding-bottom: 10px;
padding-top: 15px;
 border-radius:7px;
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
 }
 form {
   display: flex;
    align-items: center;
    justify-content: center;
height: 70px;
width:  90%;

 }

*{
outline: none;
border:none;
font-family: 'Sofia';
border-radius: 7px;

}
input  {
  height: inherit;
   width: 100%;
 font-size: 15px;
 text-align: center;
 border-radius:15px;;
color: #55595c;
align-self: center;

  }
button{
  position: absolute;
   width:40px;
  height: 40px;
  background-color: #003d63;
 border-radius: 100%;
 color: white;
font-size: 15px;
left:85%;
 }
button:hover{
background-color: #00c9c9;
cursor: pointer;
}
.item{
  font-size: 18px;
  width: 90%;
  height: auto;
 border: 1px solid #595959;
 color: white;
  margin-top: 4px;
}
.item  i{
  position: fixed;
   right:7%;
   margin:5px;
   color: #78938d;
   font-size: 15px;
  }
  .item  i:hover{
color:#ff8673;
font-size: 18px;
cursor: pointer;
}
.item p:hover{
text-decoration: line-through;
 color:gray;
 cursor:pointer;
color:rgba(124, 150, 146, 0.5);
}
